.services_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.service {
    width: 40%;
    margin: .5em;
    border: 1px solid var(--azul);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: .6em;
    border-radius: 10px;
    color: var(--azul);
}
.service h3{
    font-weight: bold;
    text-align: center; 
    padding: .5em 0;
}


@media screen and (min-width:1500px) {
    .services_container {
        display: flex;
    }
    .service {
        width: 20%;
        height: 30vh;
    }
}